<form [formGroup]="learnerForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input formControlName="name" type="text" id="name" class="form-control" required>
    !-- <div *ngIf="name?.errors?.['required']" class="alert alert-danger">Required Name</div> -->
    <div *ngIf="name?.errors?.['minlength']" class="alert alert-danger">Minimum Length: 7 </div>
    <div *ngIf="name?.errors?.['maxlength']" class="alert alert-danger">Max Length: 14 </div>
  </div>
  <div class="form-group">
    <label for="name">Nickname</label>
    <input formControlName="nickname" type="text" id="nickname" class="form-control" required>
  </div>
  <div formGroupName="address">
    <label for="bldgNo">Building Number</label>
    <input formControlName="bldgNo" type="text" id="name" class="form-control" required>
    <label for="street">Street</label>
    <input formControlName="street" type="text" id="name" class="form-control" required>
  </div>
  <!-- <ng-container formArrayName="ff">
    <label for="ff">Favorite Foods</label>
    <div class="input-group mb-3" *ngFor="let index of ff"></div>
  </ng-container> -->
  <button type="button" class="btn btn-info" (click)="addFavorite()">Add Favorites</button>
  <button type="submit">Submit</button>
  <button type="button" class="btn btn-info" (click)="reset()">Reset</button>
  <button type="button" class="btn btn-info" (click)="resetNickname()">Reset Nickname</button>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><button type="button" class="btn btn-info" (click)="markNickname()">Mark Nickname</button></a>
</form>